{# src/TOP/MainBundle/Resources/views/Main/index.html.twig - Test du Controller #}

{% extends "TOPMainBundle::layout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Hello World !</h1>
    <p>
      Je suis index dans TOP/MainBundle/Resources/views/Main ;)
    </p>

{% endblock %}