{# src/TOP/MainBundle/Resources/views/Main/right.html.twig - Test du Controller #}

{% extends "TOPMainBundle::layout.html.twig" %}

{% block title %}
  RIGHT - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Je tourne a Droite !</h1>
    <p>
      Je suis index dans TOP/MainBundle/Resources/views/Main mais je suis right.html.twig ;)
    </p>

{% endblock %}