{# src/TOP/MainBundle/Resources/views/Main/sent.html.twig - Envoyer un mail #}

{% extends "TOPMainBundle::layout.html.twig" %}

{% block title %}
  SENT - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Envoi d'un Mail :</h1>
    <p>
      Mail envoyé !
    </p>

{% endblock %}